body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}


.bmd-layout-content{
    height:100vh;
    
}

.bmd-layout-drawer>header{
    background-color:#800000;
    color: white;

}

.list-group-item :first-child{
    margin-right:0.75rem;
}

#CreateAccountButton{
    margin-top: 20px;
    margin-left:480px;

}

#logInWithExistingAccountButton{
    margin-top: 10px;
    margin-left:445px;
    display:block;
}

#otherSignMethodsCard{
    margin-top:20px;
    background-color:#E5E5E5
}

#otherSignMethodsCardHeader{
   font-size:1.5em
}

#loginform{
    margin-top:200px;
}

#welcomeWords{
    margin-top:5px;
    font-size: 2em;
    text-align:center;
    color:#800000
}

#fab{
    position: fixed;
    background:#800000;
    color: white;
    right:20px;
    bottom: 20px;
    z-index:999;
}

#fab:active{
    transform: translateY(2px);
    opacity:0.8w

}

.card{
    margin:10px 0px;
}

#welcomeWordsInWarPage1{
    color:purple;

    text-align:center;
}

#welcomeWordsInWarPage2{
    color:purple;
    text-align:center;
}

#columns{
    column-count: 3;
    column-gap:10px;
}

/* .bmd-layout-container{
    height: 100vh;
} */

.dropdown-menu-right{
    left:-128px;
}